body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

img {
    border: 5px solid white;
    width: 100%;
}

#poster {
    font-family: "Libre Baskerville", cursive;
    color: white;
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
}