<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semana o Finde</title>
</head>
<body>
    <% if (finde) { %>
        <h1>Estamos en Fin de Semana, a disfrutar!</h1>
    <% } else { %>
        <h1>Estamos a día de semana, a laburar!</h1>
    <% } %>
</body>
</html>
